
html {
  font-family: Helvetica,Verdana,sans-serif;
  color: $sg-black;
}
h1,
h2,
h3,
.btn,
.btn-flat{
  font-weight: 100;
}
h2 {
  font-size: 2.6rem;
}
.btn,.btn-flat {
  box-shadow: none;
  border-radius: 1px !important;
  text-transform: none !important;
  line-height: 50px;
}
@media #{$medium-and-up} {
  .btn {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
form {
  position: relative;

  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.input-field {
  -webkit-transform: translateX(100%) rotateY(100deg);
  -moz-transform: translateX(100%) rotateY(100deg);
  -ms-transform: translateX(100%) rotateY(100deg);
  transform: translateX(100%) rotateY(100deg);

  -webkit-transition: -webkit-transform 0.5s, height 0.5s;
  -moz-transition: -moz-transform 0.5s, height 0.5s;
  -ms-transition: -ms-transform 0.5s, height 0.5s;
  transition: transform 0.5s, height 0.5s;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;


  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;

  input {
    box-shadow: none !important;
  }
  label {
    color: $label-font-color;
    font-weight: 100;
  }

  .logged-out & {
    -webkit-transform: translateX(0%) rotateY(0deg);
    -moz-transform: translateX(0%) rotateY(0deg);
    -ms-transform: translateX(0%) rotateY(0deg);
    transform: translateX(0%) rotateY(0deg);

    &:nth-of-type(2) {
      -webkit-transition-delay: 50ms, 0ms;
      -moz-transition-delay: 50ms, 0ms;
      -ms-transition-delay: 50ms, 0ms;
      transition-delay: 50ms, 0ms;
    }
    &:nth-of-type(3) {
      -webkit-transition-delay: 100ms, 0ms;
      -moz-transition-delay: 100ms, 0ms;
      -ms-transition-delay: 100ms, 0ms;
      transition-delay: 100ms, 0ms;
    }
    &:nth-of-type(4) {
      -webkit-transition-delay: 150ms, 0ms;
      -moz-transition-delay: 150ms, 0ms;
      -ms-transition-delay: 150ms, 0ms;
      transition-delay: 150ms, 0ms;
    }
    &:nth-of-type(5) {
      -webkit-transition-delay: 200ms, 0ms;
      -moz-transition-delay: 200ms, 0ms;
      -ms-transition-delay: 200ms, 0ms;
      transition-delay: 200ms, 0ms;
    }
    &:nth-of-type(6) {
      -webkit-transition-delay: 250ms, 0ms;
      -moz-transition-delay: 250ms, 0ms;
      -ms-transition-delay: 250ms, 0ms;
      transition-delay: 250ms, 0ms;
    }
    &:nth-of-type(7) {
      -webkit-transition-delay: 300ms, 0ms;
      -moz-transition-delay: 300ms, 0ms;
      -ms-transition-delay: 300ms, 0ms;
      transition-delay: 300ms, 0ms;
    }
    &:nth-of-type(8) {
      -webkit-transition-delay: 350ms, 0ms;
      -moz-transition-delay: 350ms, 0ms;
      -ms-transition-delay: 350ms, 0ms;
      transition-delay: 350ms, 0ms;
    }
  }
  &:nth-child(odd) {
    clear: left;
  }
}
.modal.bottom-sheet {
  max-height: 80%;
}
