<div id="plans-modal" class="modal bottom-sheet">
  <div class="modal-content row">
    <div class="col s12 m4">
      <div class="card bronze">
        <div class="card-content">
          <span class="card-title">Bronze</span>

          <div class="section">
            <p>Emails per Month</p>
            <p class="emails">40,000</p>
            <p class="price">$9.95/mo</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card silver">
        <div class="card-content">
          <span class="card-title">Silver</span>

          <div class="section">
            <p>Emails per Month</p>
            <p class="emails">100,000</p>
            <p class="price">$79.95/mo</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card gold">
        <div class="card-content">
          <span class="card-title">Gold</span>

          <div class="section">
            <p>Emails per Month</p>
            <p class="emails">300,000</p>
            <p class="price">$199.95/mo</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>